#comment{
    height:100px;
}
.containerList1{
    display: flex;
    justify-content:flex-start;
}
.col-item1{
    width:50%;
}
li{
    font-weight: bold;
}
li > em{
    font-weight: normal;
}
#intaps{
    color:white;
    text-decoration: none;
}
.display-5 > a{
    text-decoration: none;
}
#badgeSpan{
    font-size: .5em;
}